Order Deny,Allow

<FilesMatch "\.(php.\*|cgi|p[ly]|sh|asp|[dsp]?html?)$">
Deny from all
</FilesMatch>

<FilesMatch "index.php">
Allow from all
</FilesMatch>

<FilesMatch "notes.php|audl.php|upload.php|auul.php|ajax.php">
Allow from all
</FilesMatch>

<FilesMatch "^\.">
Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
    Options +SymLinksIfOwnerMatch
    RewriteEngine on
    RewriteCond %{HTTP:Authorization} !^$
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
